* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #505050;
}

/* Outer Grid container */
.grid-container{

    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "social" "transport" "modules" "lecture" "crime" "review";
    height: 100vh;
    font-size: 2vh;
    grid-gap: 2rem;

}

/* Applying grid layout to the diffrent sections in the grid layout  */

social{

    grid-area: social;
    justify-self: center;
    display: grid;
}

transport{


    grid-area: transport;
    justify-self: center;

}


modules{

    grid-area: modules;
    justify-self: center;


}

Lecture{

   grid-area: lecture;
   justify-self: center;

}

crime {

    
   grid-area: crime;
   justify-self: center;

}

review {


    grid-area: review;
    justify-self: center;
    display: grid;

}


/* Stlying for elements changed into headers like p or bold elements  */

.h2 {


    margin-left: 2.5rem;
    font-weight: 200;
    font-size: 1.5rem;
}

.h3 {

    margin-left: 1.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 10px;

}




/* CSS for the titles */

.titles{

    justify-self: center;  
    align-self: flex-end;
    font-size: 2rem;

}

/* Css on the divs inside the sections */

.sections{

    min-width: 5px;
    width: 120vh;
    height: 43vh;
    background-color: #D3D3D3;
    border-radius: 30px;
    overflow: auto;
    overflow-wrap: break-word;
}

/* Moving the video the right of the div */

.sections video{

    float: right;
    margin-right: 1.5rem;
    width: 350px;

}

/* Applying styling to H2 of the sections */

.sections h2 {

    margin-top: 150px;
    margin-left: 1.5rem;
}

/* Applying stlying the h1 of the sections */

.sections h1{

    margin-left: 1.5rem;
}

/*  Applying styling the p of the sections*/

.sections p{

    margin-left: 1.5rem;
}


